.post__comments {
    display: flex;
    flex-direction: column; 
}

.post__comment {
    margin-bottom: 1em;
}

p {
    margin: 1px;
    margin-left: 1em;
    font-size: 12px;
}

.comment__form {
    display: flex;
}

.comment__input {
    flex: 1;
    padding: 1em;
    border: none;
    border-top: 1px solid lightgrey;
    outline: none;
}

.post__comment__button {
    flex: 0;
    background-color: white;
    border: none;
    border-top: 1px solid lightgrey;
    outline: none;
    color: #0095F6;
}

.post__comment__button:hover {
    color: #0072be;
    cursor: pointer;
}

.post__comment__button:disabled {
    color: #60bbf8;
}